:root {
    --color-primary: #fd377e;
}

.form__container {
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 38px 24px;
    border: 1px solid #e9ecef;
}

.info__container {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    gap: 10px;
}
.info__container label {
    font-size: 12px;
    color: #212529;
    font-weight: 500;
}
.info__container > div {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.info__container > div > span {
    font-size: 12px;
    color: #868e96;
}

.info__container--description input,
.info__container--amount input,
select {
    padding: 10px 16px;
    border: 2px solid #f8f9fa;
    background-color: #f8f9fa;
    border-radius: 8px;
    outline-color: var(--color-primary);
}

.info__container--amount {
    position: static;
    flex-direction: row;
    justify-content: space-between;
}
.info__container--amount select {
    border: 1px transparent solid;
    outline: none;
    color: #343a40;
}
.info__container--amount select:hover {
    cursor: pointer;
}
.info__container--amount select:focus {
    border: 1px solid var(--color-primary);
}
.info__container--amount > div {
    width: 45%;
    gap: 4px;
}
.info__container--amount .amount__sign {
    align-self: flex-end;
    position: relative;
    bottom: 34px;
    right: 7px;
    font-size: 16px;
    color: #343a40;
    font-weight: 500;
}

.form__container > button {
    font-family: "Inter", sans-serif;
    background: #fd377e;
    border: none;
    padding: 13px 20px;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.form__container > button:hover {
    background: #d12e6a;
    transform: scale(1.01);
    transition: 0.4s;
}
