.header__container {
    background-color: var(--color-grey-5);
    padding: 23px 0 25px;
    box-shadow: 0px 4px 32px -12px var(--color-shadow);
    margin-bottom: 30px;
}
.header__div > img {
    height: 18px;
}
.header__div {
    display: flex;
    justify-content: space-between;
    width: 85%;
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
}

.header__div > button {
    font-family: var(--font-family-2);
    background-color: var(--color-grey-4);
    color: var(--color-grey-2);
    font-weight: 600;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    padding: 10px 15px;
    text-align: center;
}

.header__div > button:hover {
    background-color: var(--color-primary-1);
    color: var(--color-white-fixed);
    transform: scale(1.03);
    transition: 0.4s;
}
